
<form method='POST' action='/pirates'>
Pirate Name: <input type='type' name='pirate[name]'>
Pirate Height: <input type='type' name='pirate[height]'>
Pirate Weight: <input type='type' name='pirate[weight]'>
Ship 1's Name: <input id="ship_name_1" type='type' name='pirate[ships][][name]'>
Ship 1's Type: <input id="ship_type_1" type='type' name='pirate[ships][][type]'>
Ship 1's Booty: <input id="ship_booty_1" type='type' name='pirate[ships][][booty]'>
Ship 2's Name: <input id="ship_name_2" type='type' name='pirate[ships][][name]'>
Ship 2's Type: <input id="ship_type_2" type='type' name='pirate[ships][][type]'>
Ship 2's Booty: <input id="ship_booty_2" type='type' name='pirate[ships][][booty]'>
<input id= 'Submit' type='submit'>
</form>